<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/rbac/users/new"><button>新增</button></a>
<table border="1">
    <tr>
        <td>用户名</td>
        <td>密码</td>
        <td>昵称</td>
        <td>邮件</td>
        <td>角色</td>
        <td colspan="2">操作</td>
    </tr>
    {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles.all }}</td>
            <td><a href="/rbac/users/edit/{{ user.id }}">编辑</a></td>
            <td><a href="/rbac/users/delete/{{ user.id }}">删除</a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>